$clr : white;
.btn-pesan {
    background-color: rgba(128,128,128,1); 
    color: m.$clr; 
    padding: 10px 20px;
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
    border-radius: 8px;
    justify-content: center;
    display: flex;
    margin-left: 25%;
    margin-right: 25%;
}

.btn-pesan:hover {
    background-color: #FF6347; /* Warna saat hover */
}
