@use '/sass/btn.scss';
  /* Footer */
  .footer {
    background-color: rgba(128,128,128,1);
    color: m.$clr;
    text-align: center;
    padding: 15px;
    font-family: 'Courier New', Courier, monospace;
  }