.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: rgba(128,128,128,1);
    color: white;
}

.navbar-brand a {
    text-decoration: none;
    color: white;
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
}

.navbar-menu {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;

    li {
      margin: 0 1rem;
  }

  a {
    text-decoration: none;
    color: white;
    font-size: 1rem;
}
}



.navbar-toggler {
    display: none;
    background: none;
    border: none;
    font-size: 1.5rem;
    color: white;
    cursor: pointer;
}