 /* Blog Section */
 .blog-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    padding: 20px;
  }

  .blog-post {
    background: #000;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 15px;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);

    img {
        width: 100%;
        height: auto;
        border-radius: 5px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
      }

      h2 {
        font-size: 1.5rem;
        margin: 10px 0;
      }

      p {
        font-size: 1rem;
        margin-bottom: 10px;
      }
  }