.contact{
    background-color: #4C585B;
    color: #fff;

    h4{
        color: #EE1C47;
    }

    &-info{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(160px, auto));
        gap: 3rem;
    }
}

.first-info img{
    width: 140px;
    height: auto;
}