header{
    position: relative;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 10%;
    background-color: #4C585B;
}

.logo {
    
}

.navmenu{
    display: flex;

    a{
    color: #fff;
    font-size: 16px;
    text-transform: capitalize;
    padding: 10px 20px;
    font-weight: 400;
    transition: all .42s ease;

    &:hover{
        color: #EE1C47;
    }
    } 
}

.nav-icon{
    display: flex;
    align-items: center;

    i{
    margin-right: 20px;
    color: #fff;
    font-size: 25px;
    font-weight: 400;
    transition: all .42s ease;

    &:hover{
        transform: scale(1.1);
        color: #EE1C47;
    }
    }
}

#menu-icon{
    font-size: 35px;
    color: #fff;
    z-index: 10001;
    cursor: pointer;
}