/* Hero Section */
.hero {
    height: 100vh;
    background: url('warung2.jpg') no-repeat center center/cover, #111; /* Background fallback */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    h1 {
        font-size: 3rem;
        text-shadow: 2px 2px 5px black;
      }
  }

  .bcg{
    background-image: url(grosir.jpg);
    display: block;
  }

  .icon {
    font-size: 1.9rem;
    margin: 20px;
    
    a{
      color: #fff;
      text-decoration: none;
    }

    &:hover{
      filter: none;
      text-decoration: none;
    }
  }
  
  /* Zoomable Image */
.zoomable {
    cursor: pointer;
    transition: transform 0.3s ease;

    &:hover {
      transform: scale(1.05);
    }
  }