.center-text{
    h2{
        color: #111;
        font-size: 28px;
        text-transform: capitalize;
        text-align: center;
        padding: 100px;
        margin-bottom: -75px;
    }
    span{
        color: #EE1C47;
    }
}

.blog-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    padding: 20px;
  }
  
  .blog-post {
    background: #89acb4;
    border: 1px solid #ccc;
    border-radius: 15px;
    padding: 15px;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    img {
        width: 100%;
        height: auto;
        border-radius: 20px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
        transition: all .40s;

        &:hover{
            transform: scale(0.9);
        }
      }
      h2 {
        font-size: 1.5rem;
        margin: 10px 0;
        color: #000;

        span{
            color: #EE1C47;
        }
      }
  }

  .maps-link{
    border: 10px solid #89acb4;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    transition: all .40s;
    transform: scale(0.9);

    iframe{
        border-radius: 10px;

        &:hover{
            transform: scale(0.9);
        }
    }
  }