*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: 'jost',sans-serif;
  list-style: none;
  text-decoration: none;
}

body{
  margin: 0;
  padding: 0;
}

@import 'header';
@import 'main2';
@import 'icon';
@import 'location';
@import 'client';
@import 'footer';